<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="localhost:8080">Pixelizator</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li id="home_page" class="active"><a href="/">Home</a></li>
                    <li id="files_page"><a href="/files">Files</a></li>
                    <li id="stats_page"><a href="/monitoring" target="_blank">Statistics</a></li>
                    <li id="about_page"><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>