<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
    </style>
</head>

<body>

<div th:insert="fragments/header :: header"></div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <h1>Files</h1>
            <div>
                Here are all the files uploaded to the server.
                <br><br>
            </div>

            <table border="1">
                <tr>
                    <th>UUID</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Time uploaded</th>
                </tr>
                <tr th:each="file : ${files}">
                    <td th:utext="${file.id}">UUID</td>
                    <td th:href="${file.name}" class="shrunk">
                        <a th:href="${file.url}" th:text="${file.name}"/>
                    </td>
                    <td th:utext="${file.size}">Size</td>
                    <td th:utext="${file.time}">Time uploaded</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>

</body>
</html>
