<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
    </style>
</head>

<body>

<div th:insert="fragments/header :: header"></div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <h1>Welcome to Pixelizator</h1>
            <div>
                Pixelizator is a web based application that hepls you <a href="https://en.wikipedia.org/wiki/Pixelization">pixelize</a> your images.
                <p /> Use form below to upload images.
            </div>
            <form action="/" method="POST" enctype="multipart/form-data">
                <label for="files">Select files:</label>
                <input type="file" accept=".jpeg,.jpg" id="files" name="files" multiple><br><br>
                <input type="submit" disabled>
            </form>

            <table border="1">
                <tr>
                    <th>UUID</th>
                    <th>Name</th>
                    <th>Size</th>
                </tr>
                <tr th:each="file : ${files}">
                    <td th:utext="${file.id}">UUID</td>
                    <td th:href="${file.name}" class="shrinked">
                        <a th:href="${file.url}" th:text="${file.name}"/>
                    </td>
                    <td th:utext="${file.size}">Size</td>
                </tr>
            </table>

            <div th:if="${message}">
                <h2 th:text="${message}"/>
            </div>

            <h1 style = "color:green;">
                GeeksForGeeks
            </h1>

            <p id = "GFG_UP" style =
                    "font-size: 15px; font-weight: bold;">
            </p>

            <input type="file" name="File" id="file" />

            <br><br>

            <button onclick = "GFG_Fun()">
                click here
            </button>

            <p id = "error_message" style =
                    "color:orangered; font-size: 20px; font-weight: bold;">
            </p>

            <script>
                var up = document.getElementById('GFG_UP');
                var errorMessage = document.getElementById('error_message');
                var file = document.getElementById("files");

                up.innerHTML = "Click on the button to see"
                    + " if any file is selected";

                function GFG_Fun() {
                    if(file.files.length == 0 ){
                        errorMessage.innerHTML = "No files selected";
                    } else {
                        errorMessage.innerHTML = "Some file is selected";
                    }
                }
            </script>

        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>

</body>
</html>
