<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet"/>
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<form action="/" method="POST" enctype="multipart/form-data">
    <label for="files">Select files:</label>
    <input type="file" id="files" name="files" multiple><br><br>
    <input type="submit">
</form>

<table border="1">
    <tr>
        <th>UUID</th>
        <th>Name</th>
        <th>Size</th>
    </tr>
    <tr th:each="file : ${files}">
        <td th:utext="${file.id}">UUID</td>
        <td th:href="${file.name}" class="shrinked">
            <a th:href="${file.url}" th:text="${file.name}"/>
        </td>
        <td th:utext="${file.size}">Size</td>
    </tr>
</table>

</body>
</html>
